@charset "utf-8";

body {
    background-color: #ebebeb;
    color: #280db2;
    font-family: 'Noto Sans JP', sans-serif;
}

/* ------文字装飾と仕切り線----- */
.mv_area,
section {
    position: relative;
}

header,
section {
    position: relative;
}

header::before,
header::after,
section::before,
section::after {
    content: "";
    position: absolute;
    top: 10%;
    width: 1px;
    height: 85%;
    background-color: #280db2;
}

header::before,
section::before {
    left: 4%;
}

header::after,
section::after {
    right: 4%;
}

.mv_topline {
    background-color: #280db2;
    width: 60%;
    height: 1px;
}

.bottomline {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #280db2;
    width: 83%;
    height: 1px;
}

section::before,
section::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: #280db2;
}

section::before {
    left: 4%;
}

section::after {
    right: 4%;
}

.SKILL::before,
.SKILL::after {
    top: 100px;
    height: 85%;
}

.decoration {
    position: relative;
    font-size: clamp(16px, 5vw, 48px);
    color: #d11c66;
    font-family: 'DotGothic16', sans-serif;
}

.text_deco {
    position: absolute;
    top: 20%;
}

.text_deco:nth-child(1) {
    left: 2%;
}

.text_deco:nth-child(2) {
    right: 2%;
}

section {
    position: relative;
}


/* 各項目のタイトル */
h1 {
    font-size: 72px;
    letter-spacing: 0.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

h2 {
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #e52e8e;
    font-family: 'DotGothic16', sans-serif;
}

.title,
section h1 {
    margin-left: 15%;
}

.speech_balloon1 {
    width: 205px;
}

.speech_balloon2 {
    width: 250px;
}

.speech_balloon3 {
    width: 240px;
}

/* -----------MAIN VISUAL ------------*/
.header_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding-top: 25px;
}

.pc_nav ul {
    display: flex;
    gap: 92px;
    letter-spacing: 0.12em;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.12em;
}

.main {
    font-size: 72px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.12em;
}

.name {
    font-size: 32px;
    margin: 0;
    margin-left: 43px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: 0.12em;

}

.main {
    margin-right: 43px;
}


.line {
    width: 2px;
    height: 57px;
    background-color: #d11c66;
}

.title {
    display: flex;
    align-items: center;
    letter-spacing: 0.12em
}


.mv-wrap {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
}

.mainvisual img {
    width: 90%;
    display: block;
    max-width: 1000px;
    margin: 0 auto;
}

.cloud1 {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.theme {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    font-family: "fot-udkakugoc60-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.theme>span {
    display: flex;
    align-items: center;
}

.pinyin {
    font-size: 48px;
}

.kanji {
    font-size: 280px;
}

.catch {
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 88px;
    font-family: 'DotGothic16', sans-serif;
}

.mv_bottom_deco {
    display: flex;
}

/* --------------SKILL --------------*/
.SKILL {
    background-image: url("../images/fish.png");
    background-position: bottom -80px;

}

.speech_wrap1 {
    position: relative;
    padding-top: 28px;
}

.speech_balloon1 {
    display: block;
}

.speech_wrap1 h2 {
    position: absolute;
    top: 60px;
    left: 40px;
}

.design-img {
    width: 300px;
    padding-bottom: 70px;
}

.tool-img {
    width: 195px;
    padding-top: 70px;
}

.programming-img {
    width: 385px;
    padding-bottom: 86px;
}

.language-img {
    width: 279px;
    padding-top: 86px;
}

.section-title {
    font-size: 32px;
    font-family: 'DotGothic16', sans-serif;
}

.item {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px dotted #000;
}

.graph_text .item:last-of-type {
    border-bottom: none;
}

.graph {
    width: 150px;
}

.title {
    font-size: 20px;
    padding-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: 0.12em;
}

.skill_text {
    font-size: 12px;
}

.about_skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.design_skill {
    display: flex;
    align-items: center;
    max-width: 900px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 45px;
    margin-top: 54px;
}

.programming_skill {
    display: flex;
    align-items: center;
    max-width: 900px;
    background-color: #fff;
    margin: 0 auto;
}

.designtool {
    text-align: center;
    padding-left: 66px;
    padding-right: 84px;
}

.programming_language {
    text-align: center;
    padding-left: 37px;
    padding-right: 30px;
}

/* --------------WORKS-------------- */
.speech_wrap2 {
    position: relative;
    padding-top: 28px;
}

.speech_balloon2 {
    display: block;
}

.speech_wrap2 h2 {
    position: absolute;
    top: 60px;
    left: 50px;
}

.arrow {
    width: 65px;
}

.slider {
    display: flex;
}

/* --------------ABOUT------------- */
.speech_wrap3 {
    position: relative;
    padding-top: 28px;
}

.speech_balloon3 {
    display: block;
}

.speech_wrap3 h2 {
    position: absolute;
    top: 70px;
    left: 40px;
}

.lovebird {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.NAME {
    position: relative;
    color: #fff;
}

.kana {
    font-size: 24px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: 0.12em;
}

.lastname {
    position: absolute;
    top: 15px;
    left: 80px;
    font-size: clamp(58px, 6vw, 100px);
}

.firstname {
    position: absolute;
    top: 125px;
    left: 320px;
    font-size: clamp(58px, 6vw, 100px);
}

.profile-img {
    width: 35%;
    max-width: 500px;
    height: auto;
}

.blue_cloud {
    max-width: 890px;
    width: 62vw;
}

.cockatiel {
    position: absolute;
    top: -45px;
    right: 200px;
}

.profile {
    display: flex;
    align-items: flex-start;
}

.profile_text {
    font-size: 20px;
    line-height: 2;
}

.hobby_text1 {
    font-size: 48px;
    letter-spacing: 0.2em;
}

.hobby_text2,
.hobby_text3 {
    font-size: 20px;
    line-height: 2;
}

.fuji {
    width: 30%;
}

.nasu {
    width: 5%;
}

.beko {
    width: 13%;
}

.sweat1_text {
    background-color: #fff;
    display: inline;
    padding: 4px 6px;
    line-height: 2;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.dog {
    position: relative;
}

.dog img {
    position: absolute;
}

.dog1 {
    max-width: 292px;
    width: 20vw;
    top: 0vw;
    left: 0vw;

}

.dog2 {
    max-width: 232px;
    width: 16vw;
    top: -1vw;
    left: 8vw;
}

.dog3 {
    max-width: 176px;
    width: 12vw;
    top: -2vw;
    left: 14vw;
}

.mouth {
    position: relative;
    width: 300px;
}

.mouth img {
    position: absolute;
}

.mouth1 {
    max-width: 226px;
    width: 12vw;
    top: 0;
    left: 0;
}

.mouth2 {
    max-width: 253px;
    width: 15vw;
    top: -4vw;
    left: 3vw;
}

.mouth3 {
    max-width: 292px;
    width: 20vw;
    top: -8vw;
    left: 7vw;
}

main {
    margin-bottom: 56px;
}

/* ------------CONTACT--------------- */
.cloud3 {
    width: 100%;
    position: absolute;
    transform: translate(-50%, -100%);
    pointer-events: none;
}

footer {
    background-color: #280db2;
    color: #fff;
    text-align: center;
}

.footer_title {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 10px 0;
    display: inline-block;
    margin-top: 92px;
}

.footer_text {
    font-size: 24px;
    margin-top: 80px;
    font-family: 'DotGothic16', sans-serif;
}

footer a {
    font-size: 16px;
    border: 1px solid #fff;
    padding: 22px 102px;
    display: inline-block;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: 0.12em;
}

.copyright {
    font-size: 12px;
    padding-top: 40px;
    padding-bottom: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: 0.12em;
}