@charset "utf-8";

body {
    background-color: #ebebeb;
    color: #280db2;
    font-family: 'Noto Sans JP', sans-serif;
    overflow-x: hidden;
}

/* ------文字装飾と仕切り線----- */
.mv_area,
section {
    position: relative;
}

header,
section {
    position: relative;
}

header::before,
header::after {
    content: "";
    position: absolute;
    top: 11%;
    width: 1px;
    height: 80%;
    background-color: #280db2;
}

header::before,
section::before {
    left: 4%;
}

header::after,
section::after {
    right: 4%;
}

.SKILL::before,
.SKILL::after {
    top: 100px;
    height: 87%;
}

.WORKS::after,
.WORKS::before {
    content: "";
    position: absolute;
    top: 100px;
    width: 1px;
    height: 83%;
    background-color: #280db2;
}

.ABOUT::before,
.ABOUT::after {
    content: "";
    position: absolute;
    top: 100px;
    width: 1px;
    height: 94%;
    background-color: #280db2;
}

.mv_topline {
    background-color: #280db2;
    width: 60%;
    height: 1px;
}

.bottomline {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #280db2;
    width: 83%;
    height: 1px;
}

section::before,
section::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: #280db2;
}

section::before {
    left: 4%;
}

section::after {
    right: 4%;
}

.decoration {
    position: relative;
    font-size: clamp(16px, 5vw, 48px);
    color: #d11c66;
    font-family: 'DotGothic16', sans-serif;
    height: 80px;
    display: flex;
    align-items: flex-end;
}

.sp_decoration {
    display: none;
}

.top_textdeco {
    position: relative;
    font-size: clamp(16px, 5vw, 48px);
    color: #d11c66;
    font-family: 'DotGothic16', sans-serif;
    height: 80px;
    top: 20%;
}

.text_deco {
    position: absolute;
    top: 20%;
}

.text_deco:nth-child(1) {
    left: 2%;
}

.text_deco:nth-child(2) {
    right: 2%;
}

section {
    position: relative;
}


/* 各項目のタイトル */
h2 {
    font-size: 72px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.pop-text span {
    opacity: 0;
}

.pop-text.active span {
    animation: show 0s steps(1) forwards;
}

.pop-text span:nth-child(1) {
    animation-delay: 0s;
}

.pop-text span:nth-child(2) {
    animation-delay: 0.2s;
}

.pop-text span:nth-child(3) {
    animation-delay: 0.4s;
}

.pop-text span:nth-child(4) {
    animation-delay: 0.6s;
}

.pop-text span:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes show {
    to {
        opacity: 1;
    }
}

h3 {
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #e52e8e;
    font-family: 'DotGothic16', sans-serif;
}

.speech_wrap1,
.speech_wrap2,
.speech_wrap3 {
    position: relative;
    margin-left: 22%;
    margin-top: 0.4%;
}

.title,
section h2 {
    margin-left: 15%;
}

.speech_balloon1 {
    width: 205px;
}

.speech_balloon2 {
    width: 250px;
}

.speech_balloon3 {
    width: 240px;
}

/* -----------MAIN VISUAL ------------*/
.header_wrap {
    display: flex;
    margin-left: 3%;
    align-items: center;
    gap: 3%;
    padding-top: 25px;
}

.pc_nav {
    width: 30%;
    margin-right: 4%;
}

.pc_nav ul {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.12em;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.sp_btn,
.sp_nav {
    display: none;
}

.main {
    font-size: clamp(32px, 5vw, 72px);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.12em;
    margin-right: 3%;
}

.name {
    font-size: clamp(16px, 3vw, 32px);
    margin: 0;
    margin-left: 3%;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: 0.12em;

}

.line {
    width: 2px;
    height: 57px;
    background-color: #d11c66;
}

.title {
    display: flex;
    align-items: center;
    letter-spacing: 0.12em;
    padding-left: 10%;
}

.sp_title {
    display: none;
}

.mv-wrap {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
}

.mainvisual img {
    width: 90%;
    display: block;
    max-width: 1000px;
    margin: 0 auto;
}

/* ------雲アニメーション--------- */
.cloud1 {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: max-content;
    animation: cloudFlow 20s linear infinite;
}

.scroll_cloud_wrap {
    overflow: hidden;
    width: 100%;
}

.scroll_cloud {
    width: 100vw;
    flex-shrink: 0;
}

@keyframes cloudFlow {
    from {
        transform: translate(0, -50%);
    }

    to {
        transform: translate(-50%, -50%);
    }
}

/* ---------------------------- */
.theme {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    font-family: "fot-udkakugoc60-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.theme>span {
    display: flex;
    align-items: center;
}

.pinyin {
    font-size: clamp(20px, 7vw, 48px);
}

.kanji {
    font-size: clamp(150px, 20vw, 280px);
}

.catch {
    font-size: 18px;
    font-family: 'DotGothic16', sans-serif;
    animation: scrollText 10s steps(20) infinite;
}

.catch_scroll {
    margin: 30px auto 50px;
    width: 370px;
    overflow: hidden;
    white-space: nowrap;
}

.catch_wrap {
    display: flex;
    width: max-content;
    animation: scrollLoop 8s steps(20) infinite;
}

.catch_wrap p {
    margin: 0;
    padding-right: 20px;
}

@keyframes scrollLoop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.mv_bottom_deco {
    display: flex;
}

/* --------------SKILL --------------*/
.SKILL {
    background-image: url("../images/fish.png");
    background-position: bottom -80px;
    background-repeat: repeat-x;
    animation: flow 40s linear infinite;
}

@keyframes flow {
    from {
        background-position: 0 bottom;
    }

    to {
        background-position: -1580px bottom;
    }
}

.speech_balloon1 {
    display: block;
}

.speech_wrap1 h3 {
    position: absolute;
    top: 32px;
    left: 40px;
}

.design-img {
    width: 70%;
    min-width: 241px;
    margin-bottom: 45px;
}

.tool-img {
    width: min(195px, 19vw);
    margin-top: 45px;
    min-width: 160px;
}

.programming-img {
    width: 90%;
    min-width: 241px;
    padding-bottom: 86px;
}

.language-img {
    width: 68%;
    min-width: 241px;
    padding-top: 86px;
}

.section-title {
    font-size: clamp(28px, 1.5vw, 32px);
    font-family: 'DotGothic16', sans-serif;
}

.item {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px dotted #000;
}

.graph_text .item:last-of-type {
    border-bottom: none;
}

.graph {
    width: 150px;
}

.title {
    font-size: 20px;
    padding-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: 0.12em;
    margin: 0 auto;
}

.skill_text {
    font-size: 12px;
}

.about_skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.design_skill {
    max-width: 900px;
    width: 80%;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 45px;
    margin-top: 54px;
    min-width: 650px;
}

.programming_skill {
    max-width: 900px;
    width: 80%;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin: 0 auto;
    min-width: 650px;

}

.designtool {
    text-align: center;
    width: 50%;
}

.programming_language {
    text-align: center;
    width: 50%;
}

/* --------------WORKS-------------- */
.speech_wrap2 {
    position: relative;
}

.speech_balloon2 {
    display: block;
}

.speech_wrap2 h3 {
    position: absolute;
    top: 30px;
    left: 60px;
}

.arrow {
    width: 7%;
}

.arrow_wrap {
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 1;
}

.work img {
    width: 100%;
    margin: 0 auto;
}

.work-title {
    font-family: 'DotGothic16', sans-serif;
    font-size: clamp(18px, 2vw, 32px);
    text-align: center;
    margin-top: 4%;
    opacity: 0;
    transition: 0.3s;
}

.slider_wrap {
    position: relative;
}

.slick-center .work-title {
    opacity: 1;
}

.slider .slick-slide {
    transform: scale(0.5);
    transition: 0.3s;
    opacity: 0.5;
    box-sizing: border-box;
}

.slider .slick-center {
    transform: scale(0.8);
    opacity: 1
}


.slider .slick-track {
    display: flex;
    align-items: center;
}

/* --------------ABOUT------------- */
.speech_balloon3 {
    display: block;
}

.speech_wrap3 h3 {
    position: absolute;
    top: 40px;
    left: 40px;
}

.lovebird {
    width: 70%;
    margin-left: auto;
    margin-top: -10%;
    display: flex;
    gap: 5%;
    justify-content: flex-end;
}

.lovebird img {
    opacity: 1;
    animation: hidebird 5s steps(2) infinite;
}

.lovebird img:nth-child(1) {
    animation-delay: 0s;
}

.lovebird img:nth-child(2) {
    animation-delay: -1.3s;
}

.lovebird img:nth-child(3) {
    animation-delay: -2.7s;
}

.lovebird img:nth-child(4) {
    animation-delay: -0.8s;
}

.lovebird img:nth-child(5) {
    animation-delay: -3.9s;
}

.lovebird img:nth-child(6) {
    animation-delay: -1.9s;
}

.lovebird img:nth-child(7) {
    animation-delay: -4.6s;
}

@keyframes hidebird {
    0% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.cockatiel {
    max-width: 210px;
    width: 15vw;
    position: absolute;
    z-index: 1;
    top: -2%;
    right: 28%;
}

.NAME {
    position: relative;
    color: #fff;
}

.kana {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: 0.12em;
    margin-left: 10%;
    margin-bottom: 1%;
}

.lastname {
    position: absolute;
    top: 2%;
    left: 14%;
    font-size: clamp(58px, 6vw, 100px);
    z-index: 3;
}

.firstname {
    position: absolute;
    top: 52%;
    left: 48%;
    font-size: clamp(58px, 6vw, 100px);
    z-index: 3;
}

.blue_cloud {
    position: relative;
    z-index: 2;
    max-width: 1000px;
    width: 62vw;
    margin-left: 4%;
}

.profile {
    margin-top: 8%;
    display: flex;
    align-items: center;
}

.profile-img {
    margin-top: 1%;
    width: 35%;
    max-width: 570px;
    height: auto;
    align-self: flex-start;
    margin-left: 8%;
}

.profile_text {
    font-size: 20px;
    line-height: 2.5;
    margin-left: 10%;
    width: 60%;
}

.profile_name {
    width: 60%;
}

.hobby {
    display: flex;
    margin-left: 15%;
}

.hobby_illust {
    width: 53%;
    display: flex;
    flex-direction: column;
}

.hobby_text {
    width: 47%;
}

.hobby_text1 {
    font-size: 48px;
    letter-spacing: 0.2em;
    margin-top: 45%;
    white-space: nowrap;
}


.hobby_text2 {
    font-size: 20px;
    line-height: 2;
    margin-top: 30%;
}

.hobby_text3 {
    font-size: 20px;
    line-height: 2;
    margin-top: 10%;
}

.sp {
    display: none;
}

.fuji {
    width: 75%;
    margin-left: 25%;
}

.nasu {
    width: 17%;
    margin-top: 20%;
}

.beko {
    width: 40%;
    margin-left: 8%;
    margin-top: 10%;
}

.sweat {
    margin-top: 15%;
    position: relative;
}

.sweat_img {
    width: 33%;
    max-width: 550px;
}

.sweat_1 {
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: flex-end;
    margin-top: -10%;
    margin-right: 15%;
}

.sweat1_text {
    font-size: clamp(14px, 1.5vw, 20px);
    text-align: right;
    background-color: #fff;
    display: inline;
    padding: 2px 8px;
    line-height: 2;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.sweat1_text_wrap {
    text-align: right;
}

.mouth_text {
    position: absolute;
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
    top: 100%;
    right: -29%;
}

.sp {
    display: none;
}

.mouth {
    position: absolute;
    width: 20vw;
    max-width: 300px;
    right: -10%;
    top: -10%;
}

.mouth_wrap {
    position: relative;
}

.mouth1 {
    position: relative;
    width: 15vw;
    top: 0;
    left: 0;
}

.mouth2 {
    position: absolute;
    width: 19vw;
    top: -6vw;
    left: 4vw;
}

.mouth3 {
    position: absolute;
    width: 23vw;
    top: -13vw;
    left: 8vw;
}

.sweat_2 {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-left: 15%;
}

.sweat2_text {
    font-size: clamp(14px, 1.5vw, 20px);
    margin-left: -20%;
    background-color: #fff;
    display: inline;
    padding: 2px 8px;
    line-height: 2;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.dog_text {
    font-family: 'DotGothic16', sans-serif;
    position: absolute;
    top: -15%;
    left: 20%;
    font-size: 16px;
}

.dog {
    position: absolute;
    left: -20%;
    top: 85%;

}

.dog_wrap {
    position: relative;
}

.dog1 {
    position: relative;
    max-width: 292px;
    width: 20vw;
    top: 0vw;
    left: 0vw;
}

.dog2 {
    position: absolute;
    max-width: 232px;
    width: 16vw;
    top: -1vw;
    left: 8vw;
}

.dog3 {
    position: absolute;
    max-width: 176px;
    width: 12vw;
    top: -2vw;
    left: 14vw;
}

main {
    margin-bottom: 56px;
}

/* ------------CONTACT--------------- */
.cloud3 {
    width: 100%;
    position: absolute;
    transform: translate(-50%, -100%);
    pointer-events: none;
}

footer {
    background-color: #280db2;
    color: #fff;
    text-align: center;
}

.footer_title {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 10px 0;
    display: inline-block;
    margin-top: 92px;
}

.footer_text {
    font-size: 24px;
    margin-top: 80px;
    font-family: 'DotGothic16', sans-serif;
}

footer a {
    font-size: 16px;
    border: 1px solid #fff;
    padding: 22px 102px;
    display: inline-block;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: 0.12em;
}

.copyright {
    font-size: 12px;
    padding-top: 40px;
    padding-bottom: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: 0.12em;
}

.mail_address:hover {
    background: #fff;
    color: #280db2;
}

@media screen and (max-width:1200px) {
    .profile_text {
        font-size: 16px;
        line-height: 2;
        margin-left: 10%;
        width: 60%;
    }

    .profile_name {
        width: 60%;
    }
}

@media screen and (max-width: 767px) {

    h2 {
        font-size: 64px;
    }

    h3 {
        font-size: 16px;
    }

    .speech_wrap1 h3 {
        top: 25px;
        left: 35px;
    }

    .speech_wrap2 h3 {
        top: 20px;
        left: 40px;
    }

    .speech_wrap3 h3 {
        top: 30px;
        left: 25px;
    }

    .speech_balloon1 {
        width: 160px;
    }

    .speech_balloon2 {
        width: 170px;
    }

    .speech_balloon3 {
        width: 168px;
    }

    .title,
    section h2 {
        margin-left: 0;
        text-align: center;
    }

    .speech_wrap1,
    .speech_wrap2,
    .speech_wrap3 {
        margin: 0 auto;
        width: fit-content;
    }

    /* ------ハンバーガーボタン-------- */
    .sp_btn {
        display: block;
        height: 23px;
        cursor: pointer;
    }

    .sp_btn span {
        display: block;
        width: 35px;
        height: 3px;
        background: #280db2;
        border-radius: 2px;
        position: relative;
    }

    .sp span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        width: 35px;
        height: 3px;
        background: #280db2;
        border-radius: 2px;
    }

    /* --------MAIN VISUAL--------- */
    .header_wrap {
        display: none;
    }

    .title {
        display: none;
    }

    .sp_title {
        display: flex;
        align-items: center;
        letter-spacing: 0.12em;
        margin-top: 6%;
        margin-left: 4%;
    }

    .line {
        width: 2px;
        height: 28px;
        background-color: #d11c66;
    }

    .sp_text_deco:nth-child(1) {
        left: 2%;
    }

    .sp_text_deco:nth-child(2) {
        right: 2%;
    }

    .sp_decoration {
        position: relative;
        font-size: clamp(16px, 5vw, 48px);
        color: #d11c66;
        font-family: 'DotGothic16', sans-serif;
        display: flex;
        align-items: center;
        margin-top: 4%;
        margin-bottom: 30%;

    }

    .sp_text_deco {
        position: absolute;
    }

    .sp_bottomline {
        display: block;
        margin: 0 auto;
        background-color: #280db2;
        width: 83%;
        height: 1px;
    }

    .mainvisual img {
        width: 80%;
    }

    .theme {
        flex-direction: column;
        height: 140%;
    }

    .theme>span {
        flex-direction: column;
    }

    .cloud1 {
        width: 245%;
    }

    .scroll_cloud {
        width: 240vw;
    }

    .catch {
        font-size: 14px;
    }

    /* -------SKILL-------- */

    .SKILL {
        background-image: url("../images/SP_fish.png");
    }

    .design_skill {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 45px;
        margin-top: 54px;
        padding-top: 10%;
        padding-bottom: 10%;
        width: 85%;
        min-width: 0;
    }

    .programming_skill {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding-top: 10%;
        padding-bottom: 10%;
        width: 85%;
        min-width: 0;
    }

    .designtool,
    .programming_language {
        width: 100%;
    }

    .skill_text {
        text-align: center;
    }

    .item {
        flex-direction: column;
        align-items: center;
        border-bottom: none;
        margin: 0 auto;
    }

    .title {
        font-size: 22px;
    }

    .skill_text {
        font-size: 16px;
    }

    /* ------WORKS--------- */
    .slider .slick-slide {
        transform: scale(0.8);
    }

    .slider .slick-center {
        transform: scale(1);
    }

    .arrow {
        width: 10%;
    }

    .arrow_wrap {
        width: 90%;
        left: 5%;
    }

    /* -------ABOUT-------- */

    .profile {
        flex-direction: column;
    }

    .profile-img {
        margin: 0 auto;
        width: 80%;
    }

    .blue_cloud {
        width: 125vw;
        margin-left: 2%;
    }

    .profile_text {
        font-size: 18px;
        margin: 0 auto;
        width: 80%;
        margin-top: 10%;
    }

    .kana {
        font-size: 18px;
        margin-top: 10%;
    }

    .lastname {
        font-size: clamp(58px, 12vw, 90px);
        top: 4%;
        left: 17%;
    }

    .firstname {
        top: 54%;
        left: 57%;
        font-size: clamp(58px, 12vw, 90px);
    }

    .cockatiel {
        width: 25%;
        top: 2%;
        right: 14%;
    }

    .hobby_text,
    .hobby_illust {
        display: contents;
    }

    .hobby_text1 {
        order: 2;
    }

    .sp {
        display: inline;
    }

    .beko {
        order: 1;
        margin-left: 33%;
        margin-top: 20%;
    }

    .nasu {
        order: 3;
        margin-left: auto;
        margin-right: 20%;
        transform: rotate(25deg)
    }

    .fuji {
        order: 4;
        margin-left: 0;
        margin-top: 10%;
    }

    .hobby {
        flex-direction: column;
        margin: 0;
    }

    .hobby_text {
        width: 100%;
        letter-spacing: 0;
    }

    .hobby_text1 {
        letter-spacing: 0.02em;
        font-size: 34px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20%;
    }

    .hobby_text2,
    .hobby_text3 {
        width: 90%;
        text-align: right;
        font-size: 18px;
        margin-left: 4%;
    }

    .hobby_text2 {
        order: 5;
    }

    .hobby_text3 {
        order: 6;
    }

    .sweat1_text,
    .sweat2_text {
        font-size: 20px;
    }

    .dog_text {
        font-size: 12px;
        display: inline-block;
        transform: rotate(-20deg);
        top: -100%;
        left: 47%;
        white-space: nowrap;
    }

    .mouth_text {
        font-size: 12px;
        top: -23vw;
        white-space: nowrap;
    }

    .pc {
        display: none;
    }

    .sp {
        display: inline-block;
        transform: rotate(20deg);
    }

    .dog {
        order: 1;
        left: 50%;
        top: 50vw;
    }

    .dog1 {
        top: -24vw;
        left: 20vw;
        width: 32vw;
    }

    .dog2 {
        top: -11vw;
        left: 16vw;
        width: 22vw;
    }

    .dog3 {
        width: 17vw;
        top: -2vw;
        left: 12vw;
    }

    .mouth {
        order: 4;
        right: 65%;
        top: 46vw;
    }

    .mouth1 {
        width: 18vw;
    }

    .mouth2 {
        left: -9vw;
        width: 22vw;
        top: -8vw;
    }

    .mouth3 {
        width: 30vw;
        top: -20vw;
        left: -20vw;
    }

    .lovebird {
        width: 100%;
        margin-top: 8%;
    }

    .sweat_1,
    .sweat_2 {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .sweat_img {
        order: 2;
        width: 80%;
        margin-top: 50%;
    }

    .sweat_1 .sweat_img {
        order: 5;
    }

    .sweat1_text {
        display: block;
        width: 85%;
        margin-left: 4%;
    }

    .sweat2_text {
        display: block;
        width: 85%;
        margin-left: auto;
        margin-right: 4%;
    }

    .sweat1_text_wrap {
        order: 6;
        margin-top: -10%;
    }

    .sweat2_text_wrap {
        order: 3;
        margin-top: -10%;
    }

    /* -------FOOTER------  */
    .cloud3 {
        width: 270%;
        transform: translate(-50%, -100%);
        pointer-events: none;
    }


}